.slider-indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  bottom: 0;
  &__container {
    display: flex;
    gap: 16px;
    width: var(--xxl-trigger);
    justify-content: flex-end;
    box-sizing: border-box;
    padding: var(--pc-margin);
  }
  .indicator {
    border-radius: var(--small-rounding);
    width: 16px;
    height: 16px;
    background-color: var(--white);
    opacity: 0.4;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
  }
}

.indicators_under {
    position: static;
  }
  .indicators__container_blue {
    justify-content: center;
    padding: var(--pc-margin);
  }
  .indicators__container_blue .indicator {
    background-color: var(--blue);
  }

@media screen and (max-width: 1400px) {
  .slider-indicators__container {
    width: var(--xl-trigger) !important;
  }
}
@media screen and (max-width: 1200px) {
  .slider-indicators__container {
    width: var(--l-trigger) !important;
  }
}
@media screen and (max-width: 1120px) {
  .slider-indicators__container {
    width: var(--m-trigger) !important;
  }
}
@media screen and (max-width: 860px) {
  .indicators__container_blue {
    padding: var(--mob-margin);
  }
  .slider-indicators__container {
    width: calc(var(--s-trigger) - var(--mob-padding) * 2) !important;
    padding: 16px !important;
    gap: 8px !important;
    .indicator {
      width: 8px !important;
      height: 8px !important;
      border-radius: var(--micro-rounding) !important;
    }
  }
}
